<div>
  <h2 id="page-heading" data-cy="JobRequestHeading">
    <span jhiTranslate="schedulerApp.jobRequest.home.title">Job Requests</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="schedulerApp.jobRequest.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-job-request"
        [routerLink]="['/job-request/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="schedulerApp.jobRequest.home.createLabel"> Create a new Job Request </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="jobRequests?.length === 0">
    <span jhiTranslate="schedulerApp.jobRequest.home.notFound">No jobRequests found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="jobRequests && jobRequests.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="schedulerApp.jobRequest.startTime">Start Time</span></th>
          <th scope="col"><span jhiTranslate="schedulerApp.jobRequest.endTime">End Time</span></th>
          <th scope="col"><span jhiTranslate="schedulerApp.jobRequest.assignedInterpreter">Assigned Interpreter</span></th>
          <th scope="col"><span jhiTranslate="schedulerApp.jobRequest.language">Language</span></th>
          <th scope="col"><span jhiTranslate="schedulerApp.jobRequest.location">Location</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let jobRequest of jobRequests; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/job-request', jobRequest.id, 'view']">{{ jobRequest.id }}</a>
          </td>
          <td>{{ jobRequest.startTime | formatMediumDatetime }}</td>
          <td>{{ jobRequest.endTime | formatMediumDatetime }}</td>
          <td>
            <div *ngIf="jobRequest.assignedInterpreter">
              <a [routerLink]="['/interpreter', jobRequest.assignedInterpreter?.id, 'view']">{{ jobRequest.assignedInterpreter?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="jobRequest.language">
              <a [routerLink]="['/language', jobRequest.language?.id, 'view']">{{ jobRequest.language?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="jobRequest.location">
              <a [routerLink]="['/location', jobRequest.location?.id, 'view']">{{ jobRequest.location?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/job-request', jobRequest.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/job-request', jobRequest.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(jobRequest)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
